@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: #0c0c0e;
}


.font-michroma {
  font-family: 'Michroma', sans-serif;
}
